* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border-style: none;
  font-size: 4rem;
  color: rgb(223, 216, 163);
  background-color: rgb(157, 137, 230);
  cursor: pointer;
}

.board-wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-items: center;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
}

.board-wrap > h1 {
  font-family: "Limelight", cursive;
  margin: 0.5%;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 5px;
  box-shadow: 2px 3px 16px 3px rgba(0,0,0,0.23);
}

.play-status {
  font-family: "Josefin Sans", sans-serif;
  margin: 10px 0;
}
